.flex {
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 1920px) {
  .header {
    margin-bottom: 0;
  }
  .detail_tittle {
    text-align: center;
    color: #00acee;
    padding: 20px 0;
    line-height: 30px;
    font-size: 1.3em;
    border-bottom: 1px solid #e5e5e5;
  }
  .detail_intro {
    text-align: center;
    margin: 20px;
    color: #5e5e5e;
    font-size: 0.8em;
  }
  .detail_content {
    margin-top: 20px;
  }
}
