.flex {
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 1920px) {
  body {
    background: url('../image/news_bg.jpg') no-repeat fixed;
    background-size: cover;
  }
  .news {
    padding: 0;
    overflow: hidden;
    margin-bottom: 2%;
  }
  .news .news_body {
    width: 97%;
    padding: 1.5%;
    background: #fff;
    float: left;
    margin-left: 1px;
  }
  .open {
    background: #efefef;
    /*************************************************************************************************修改部分*/
  }
  .open .open_blocks {
    margin-top: 2%;
    overflow: hidden;
  }
  .open .open_blocks li {
    background: #fff;
    border-bottom: 3px solid #00acee;
    float: left;
    margin: 0 1% 2% 0;
  }
  .open .open_blocks li:nth-child(1) {
    background: #00acee;
  }
  .open .open_blocks li:nth-child(1),
  .open .open_blocks li:nth-child(2) {
    width: 49%;
  }
  .open .open_blocks li:nth-child(3),
  .open .open_blocks li:nth-child(4),
  .open .open_blocks li:nth-child(5) {
    width: 32%;
    margin-right: 1.2%;
  }
  .open .open_blocks li:nth-child(5) {
    float: right;
  }
  .open .open_blocks li a {
    padding: 5% 0;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
    position: relative;
    overflow: hidden;
  }
  .open .open_blocks li a .open_chi {
    font-size: 1.5em;
    color: #5e5e5e;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .open .open_blocks li a .open_line {
    border-bottom: 3px solid #00acee;
    width: 20%;
    margin: 0.5em 0;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    -moz-transition: width 0.5s;
  }
  .open .open_blocks li a .open_eng {
    font-size: 0.85em;
    color: #5e5e5e;
    letter-spacing: 1px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .open .open_blocks li a .open_triangle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #efefef transparent;
    position: absolute;
    bottom: -5px;
    left: 48%;
    transition: display 0.5s;
    -webkit-transition: display 0.5s;
    -o-transition: display 0.5s;
    -moz-transition: display 0.5s;
  }
  .open_blocks_img {
    float: left;
    width: 25%;
    text-align: right;
  }
  .open_blocks_word {
    float: right;
    width: 70%;
  }
  /*************************************************************************************************修改部分*/
  .open_word_hover {
    color: #fff !important;
  }
  .two_modular {
    background: #fff;
    overflow: hidden;
  }
  .two_modular .communi {
    float: left;
    width: 39%;
  }
  .two_modular .communi .communi_block:nth-child(1) {
    width: 35%;
    float: left;
  }
  .two_modular .communi .communi_block:nth-child(2) {
    width: 64%;
    float: right;
  }
  .two_modular .communi .communi_block:nth-child(3) {
    width: 35%;
    float: right;
    margin-top: 1.5%;
  }
  .two_modular .communi .communi_block:nth-child(4) {
    width: 64%;
    float: left;
    margin-top: 1.5%;
  }
  .two_modular .communi .communi_block:nth-child(2n+1) .communi_word span {
    margin-top: 90%;
  }
  .two_modular .communi .communi_block:nth-child(2n) .communi_word span {
    margin-top: 23%;
  }
  .two_modular .communi .communi_block .communi_img {
    position: relative;
  }
  .two_modular .communi .communi_block .communi_img .communi_word {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .two_modular .communi .communi_block .communi_img .communi_word span {
    display: inline-block;
    /*margin-top: 90%;*/
  }
  .two_modular .communi .communi_block .communi_img .communi_word:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .two_modular .communi .communi_block .communi_img img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .two_modular .communi .communi_tittle {
    padding-top: 45%;
  }
  .two_modular .communi .communi_tittle .tittle_chi {
    font-size: 1.5em;
  }
  .two_modular .communi .communi_tittle .tittle_eng {
    font-size: 0.5em;
  }
  .two_modular .business {
    float: right;
    width: 59%;
  }
  .two_modular .business .business_tittle .tittle_chi {
    font-size: 1.5em;
  }
  .two_modular .business .business_tittle .tittle_eng {
    font-size: 0.5em;
  }
  .two_modular .business .business_body {
    margin-top: 4%;
  }
  .two_modular .business .business_body .business_block {
    float: left;
    border: 1px solid #e5e5e5;
    text-align: center;
    width: 48%;
    padding: 6vw 0;
  }
  .two_modular .business .business_body .business_block:hover {
    box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.15);
  }
  .two_modular .business .business_body .business_block:nth-child(2) {
    float: right;
  }
  .two_modular .business .business_body .business_block img {
    width: 20%;
  }
  .two_modular .business .business_body .business_block .business_chi {
    font-size: 1.1em;
    color: #4c4c4c;
    margin: 20px 0;
  }
  .two_modular .business .business_body .business_block .business_eng {
    font-size: 0.8em;
    color: #707070;
    letter-spacing: 2px;
  }
  .music {
    background: url(../image/music_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #b2b2b2;
  }
  .music .music_body .music_line {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 20px 20px 20px;
    margin-left: 50%;
    width: 50%;
    margin-top: 2%;
  }
  .music .music_body .music_line ul li {
    position: relative;
    margin-bottom: 20px;
    width: 60%;
  }
  .music .music_body .music_line ul li:nth-child(2n+1) .music_circle {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -28px;
  }
  .music .music_body .music_line ul li:nth-child(2n) {
    /*margin-left: -67%;*/
    /*margin-left: -70%;*/
    text-align: right;
  }
  .music .music_body .music_line ul li:nth-child(2n) .music_circle {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -32px;
  }
  .music .music_body .music_line ul li .music_time {
    font-size: 0.85em;
  }
  .music .music_body .music_line ul li .music_tittle {
    margin: 15px 0;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8);
  }
  .music .music_body .music_line ul li .musict_mp3 audio {
    background: #808080;
    border-radius: 6px;
    width: 90%;
  }
  .music .music_btn {
    margin: 0 auto;
  }
  .photo {
    background: #fff;
  }
  .photo .photo_body {
    padding-top: 2%;
    overflow: hidden;
  }
  .photo .photo_body .photo_block {
    perspective: 1500px;
    width: 20%;
    float: left;
    margin-right: 5%;
  }
  .photo .photo_body .photo_block .photo_block_img {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s transform;
  }
  .photo .photo_body .photo_block .photo_block_img img {
    width: 100%;
    height: auto;
  }
  .photo .photo_body .photo_block .photo_block_img .photo_block_word {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1em;
    color: #4c4c4c;
    top: 0;
    transform: rotateY(0.5turn) translateZ(1px);
    background: #ffffff;
    text-align: center;
    opacity: 0.3;
    transition: 1s .5s opacity;
    padding-top: 20%;
  }
  .photo .photo_body .photo_block:hover .photo_block_img {
    transform: rotateY(-0.5turn);
  }
  .photo .photo_body .photo_block:hover .photo_block_img .photo_block_word {
    opacity: 0.9;
  }
  .photo .photo_body .photo_block .photo_block_img:after {
    content: " ";
    display: block;
    height: 5vw;
    width: 100%;
    transform: rotateX(90deg);
    background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .video {
    background: #00acee;
  }
  .video .video_body {
    margin-top: 2%;
    overflow: hidden;
  }
  .video .video_body .video_block {
    width: 30%;
    float: left;
    margin-right: 5%;
    /*&:after {
                    content: " ";
                    display: block;
                    height: 5vw;
                    width: 100%;
                    transform: rotateX(90deg);
                    background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                }*/
  }
  .video .video_body .video_block:nth-child(3) {
    margin-right: 0;
  }
  .video .video_body .video_block .video_block_after {
    background: #fff;
    padding: 25px 20px;
    position: relative;
    transition: padding-top 0.5s;
    -webkit-transition: padding-top 0.5s;
    -o-transition: padding-top 0.5s;
    -moz-transition: padding-top 0.5s;
  }
  .video .video_body .video_block .video_block_after > img {
    position: absolute;
    top: 0;
    z-index: 1;
    left: -5%;
    width: 110%;
    opacity: 0.7;
  }
  .video .video_body .video_block .video_block_after:hover {
    padding-top: 60px;
  }
  .video .video_body .video_block .video_block_tittle {
    font-size: 0.9em;
    height: 2.3em;
    overflow: hidden;
    color: #707070;
  }
  .video .video_body .video_block .video_block_time {
    font-size: 0.8em;
    color: #707070;
    margin: 10px 0;
  }
  .video .video_body .video_block .video_block_img {
    position: relative;
  }
  .video .video_body .video_block .video_block_img > img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .video .video_body .video_block .video_block_img .video_block_btn {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .video .video_body .video_block .video_block_img .video_block_btn img {
    margin: 30% 45%;
  }
  .video .video_body .video_block .video_block_img .video_block_btn:hover {
    background: rgba(0, 0, 0, 0);
    opacity: 0.9;
  }
  .online {
    background: #fff;
  }
  .online .online_tittle {
    color: #4c4c4c;
    margin-top: 2%;
    padding-left: 25%;
  }
  .online .online_row {
    color: #707070;
    font-size: 0.9em;
    margin: 30px 0;
    padding-left: 27%;
    position: relative;
  }
  .online .online_row input[type="radio"] {
    /*display:none;*/
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    position: absolute;
    left: 25%;
    z-index: 2;
    opacity: 0;
  }
  .online .online_row img {
    position: absolute;
    left: 25%;
    z-index: 1;
  }
  .online .online_row label {
    display: inline-block;
  }
  .online .online_btn {
    text-align: center;
  }
  .activity {
    background: #fff;
    padding-top: 0;
  }
  .activity .activity_body img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .float {
    position: fixed;
    left: -260px;
    top: 10%;
    z-index: 10;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    overflow: visible;
  }
  .float .float_content {
    background: #fff;
    padding: 15px 15px 30px 15px;
    position: relative;
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.1);
    float: left;
  }
  .float .float_content .float_tiltte {
    text-align: center;
    color: #00acee;
    padding: 10px 50px 20px 50px;
    font-size: 1em;
    border-bottom: 1px solid #e5e5e5;
  }
  .float .float_content .float_tiltte span {
    font-size: 0.6em;
    letter-spacing: 2px;
  }
  .float .float_content .float_content_body {
    height: 400px;
    overflow: auto;
  }
  .float .float_content .float_content_body li {
    width: 220px;
    padding: 15px 5px;
    font-size: 0.9em;
    line-height: 25px;
    color: #707070;
    border-bottom: 1px solid #e5e5e5;
  }
  .float .float_content .float_content_body li .float_li_bottom {
    color: #00acee;
    overflow: hidden;
  }
  .float .float_content .float_content_body li .float_li_bottom .float_li_time {
    float: left;
  }
  .float .float_content .float_content_body li .float_li_bottom .float_li_btn {
    float: right;
  }
  .float .float_content .float_content_body li .float_li_bottom .float_li_btn a {
    display: inline-block;
    color: #00acee;
  }
  .float .float_content .float_more_btn {
    width: 100%;
    background: #fff;
    padding-top: 15px;
    text-align: center;
    color: #00acee;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    left: 0;
  }
  .float .float_tabs {
    background: #fff;
    color: #5e5e5e;
    line-height: 30px;
    cursor: pointer;
    padding-right: 10px;
    position: relative;
    height: 400px;
    margin-top: 55px;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1);
    float: left;
  }
  .float .float_tabs li {
    padding: 50px 10px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .float .float_tabs li:hover {
    color: #00acee;
  }
  .float .float_tabs img {
    position: absolute;
    right: 5px;
    top: 44%;
    width: 15px;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
  }
  .float_tab_img_rotate {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  }
  .float_tab_show {
    color: #00acee;
  }
}
/*.header_word{ float:left; margin:3px 0 0 10px;}
  .small_padding{ padding:2% 0 1%;}
  .header_right{ float:right; margin:20px 74px 0 0; font-size: 1vw;}*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearit {
  clear: both;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
/*轮播css*/
.carousel {
  margin: 0;
  position: relative;
  height: 340px;
  overflow: hidden;
}
.carousel h2 {
  color: #fff;
}
.carousel .backgrounds {
  height: 354px;
}
.carousel .backgrounds .item {
  width: 750px;
  height: 340px;
  float: left;
  position: relative;
  z-index: 1;
}
.carousel .backgrounds .item img {
  width: 750px;
  height: 340px;
}
.carousel .backgrounds .item_1 {
  background: transparent url(../image/carousel_bg_arrow.jpg) no-repeat 0 0;
}
.carousel .backgrounds .item_2 {
  background: transparent url(../image/carousel_bg_arrow.jpg) no-repeat 0 0;
}
.carousel .backgrounds .item_3 {
  background: transparent url(../image/carousel_bg_1.jpg) no-repeat 0 0;
}
.carousel .panel {
  background: #fff;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  height: 354px;
  width: 549px;
  z-index: 10;
}
.carousel .panel .paging {
  position: absolute;
  bottom: 25px;
  left: -406px;
  width: 290px;
  text-align: center;
}
.carousel .panel .paging a {
  color: #fff;
  font-size: 0;
  background: #fff;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.carousel .panel .pause {
  position: absolute;
  right: 20px;
  top: 25px;
  display: block;
  width: 18px;
  height: 18px;
  background: transparent url(../image/carousel_pause_bg.gif) no-repeat 0 0;
  text-indent: -6000px;
}
.carousel .panel .play {
  position: absolute;
  right: 20px;
  top: 25px;
  display: block;
  width: 18px;
  height: 18px;
  background: transparent url(../image/carousel_play_bg.gif) no-repeat 0 0;
  text-indent: -6000px;
}
.carousel .panel .paging .next {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  width: 18px;
  height: 18px;
  background: transparent url(../image/carousel_next_bg.gif) no-repeat 0 0;
  text-indent: -6000px;
}
.carousel .panel .paging .previous {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 18px;
  height: 18px;
  background: transparent url(../image/carousel_previous_bg.gif) no-repeat 0 0;
  text-indent: -6000px;
}
.carousel .panel .paging #numbers a {
  padding: 0 5px 0 5px;
}
.carousel .panel .paging #numbers a.selected {
  background: #00acee;
}
.carousel .panel .details_wrapper {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 500px;
  overflow: hidden;
  height: 320px;
}
.carousel .panel .details_wrapper .details {
  height: 320px;
}
.carousel .panel .details_wrapper .details .detail {
  width: 500px;
  height: 320px;
  float: left;
}
.carousel .panel .details_wrapper .details h2 {
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.carousel .panel .details_wrapper .details span {
  font-size: 1em;
  color: #2f2f2f;
  margin: 0 0 5px 0;
  width: 500px;
  height: 222px;
  display: block;
  overflow: hidden;
}
.carousel .panel .details_wrapper .details h2 a {
  color: #003067;
}
.carousel .panel .details_wrapper .details a.more {
  width: 500px;
  height: 40px;
  line-height: 40px;
  background: #00acee;
  color: #fff;
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin-top: 29px;
}
.notice_micro {
  background: #efefef;
  padding-bottom: 0;
}
.three {
  height: 360px;
  margin: 0 auto;
}
.three_left {
  width: 48%;
  height: 360px;
  float: left;
  border-bottom: 3px solid #00acee;
  background: #fff;
}
.three_left ul {
  padding: 3%;
}
.three_left ul li {
  height: 30px;
  line-height: 30px;
}
.three_left ul li a {
  float: left;
  color: #2f2f2f;
  font-size: 0.9em;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.three_left ul li .date_time {
  float: right;
  color: #2f2f2f;
  font-size: 0.9em;
  width: 20%;
  text-align: right;
}
.three .float_r {
  float: right;
}
.three_top {
  width: 100%;
  height: 125px;
  background: url(../image/three_left.jpg) left center no-repeat;
  text-align: center;
}
.three_top:hover {
  background: url(../image/three_left_h.jpg) left center no-repeat;
}
.three_top p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 32px;
}
.three_top p span {
  font-weight: normal;
  font-size: 1em;
}
.float_r .three_top {
  background: url(../image/three_right.jpg) left center no-repeat;
}
.float_r .three_top:hover {
  background: url(../image/three_right_h.jpg) left center no-repeat;
}
.three_right_con {
  padding: 3%;
}
.con_left {
  float: left;
  width: 220px;
}
.con_img {
  float: left;
}
.con_name {
  float: left;
  color: #0078b6;
  padding-left: 10px;
}
.con_name em {
  color: #ccc;
  font-style: normal;
}
.gz_btn {
  width: 63px;
  height: 23px;
  line-height: 23px;
  background: #f53746;
  border: 1px solid #c01e32;
  border-radius: 3px;
  text-align: center;
  float: left;
  margin: 10px 0 0 15px;
  color: #fff;
}
.con_right {
  float: right;
  color: #00acee;
}
.con_right a {
  display: inline;
  color: #00acee;
}
.three_bottom {
  padding: 3%;
}
.nav_left {
  width: 10%;
  float: left;
  height: 60px;
  display: block;
}
.search {
  width: 277px;
  height: 60px;
  float: left;
  margin-top: 10px;
  position: absolute;
  right: 53px;
  top: 6px;
  display: none;
  z-index: 3;
}
.search select {
  width: 100px;
  height: 60px;
  text-align: center;
  float: left;
  border-right: 1px solid #ccc;
}
.txt_con {
  width: 200px;
  height: 20px;
  color: #333;
  float: left;
  padding: 5px;
}
.search_btn {
  float: left;
  display: block;
  width: 65px;
  height: 30px;
  background: url(../image/hdjl_03.png) center center no-repeat #0099ff;
  background-size: 20px 20px;
}
.nav .nav_body .serch_hover {
  width: 12.5%;
  height: 60px;
  background: url(../image/search_btn.png) center center no-repeat;
  background-size: 20px 20px;
  position: relative;
  float: right;
}
.add_background {
  width: 15%;
  float: left;
  height: 50px;
  background: url(../image/logo2.png) left center no-repeat;
  background-size: auto 80%;
  margin-top: 5px;
}
.nav_body {
  width: 80%;
}
