@charset "utf-8";
/* CSS Document */
html{color:#333;background-color:#ffffff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0;}
body {margin:0 auto;_word-break:break-all;}
body,button,input,select,textarea {font-size:12px;font-family:宋体,Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
body{behavior:url(../image/iehoverfix.htc);}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
select, input, button, textarea { _font-size:100%; }
h4, h5, h6 {font-size: 100%;}
address, cite, dfn, em, var {font-style: normal;} 
code, kbd, pre, samp, tt {font-family: "Courier New", Courier, monospace;} 
small {font-size: 12px;}
ul, ol {list-style:none outside none;}
a {text-decoration: none;color:#333333;}
a:hover{text-decoration:none;color:#cc0000}
a,a:hover{outline: none;blr:expression(this.onFocus=this.blur());} 
legend {color: #000;} 
fieldset, img {border: none;} 
button, input, select, textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
hr {border: none;height: 1px;}
html {overflow-y: scroll;overflow-x:auto;}
ul, ol { list-style:none outside; }
img { -ms-interpolation-mode:bicubic; }
.cl{clear:both;}
.fl { float:left; _display:inline; }
.fr { float:right; _display:inline; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.fb { font-weight:bold; }
.fn { font-weight:normal; }
.noline { text-decoration:none; }
.underline { text-decoration:underline; }
.block { display:block; }
.inline { display:inline; }
.inblock { display:inline-block; *display:inline;zoom:1; letter-spacing:0; }
.none { display:none; }
.relative { position:relative; }
.absolute { position:absolute; }
.wfill { width:100%; }
.nowrap { white-space:nowrap; }
.nobor { border:none; }
.vm { vertical-align:middle; _vertical-align:bottom; }
.zoom { zoom:1; }
.yahei { font-family:"Microsoft YaHei"; }
.wrop {width:1002px;margin:0 auto;clear:both;overflow:hidden;text-align:left;}
.mb0{ margin-bottom:0px }
/*--------------------------------------*/
body {font-size:12px; margin:0;}
#container {margin:0 auto; width:1002px;}
#header { height:196px;}
#menu { height:38px; background: url(../image/index_03.gif) repeat-x;}
#menu ul{ overflow:hidden;zoom:1}
#menu li{ float:left; font-size:14px; font-weight:bold; color:#FFFFFF;background:url(../image/index_05.gif) no-repeat top right }
#menu li a{float:left; display:block; height:38px; line-height:38px; color:#fff; padding:0px 25px }
#menu li a:hover{ color:#ffff00}
#submenu{ background:url(../image/index_08.gif) repeat-x; height:33px; line-height:33px; margin-bottom:8px; text-align:left; _margin-bottom:-4px}
#submenu h1{ width:190px; float:left; margin-left:15px; background:url(../image/index_15.gif) no-repeat left center; font-size:12px; font-weight:normal; text-align:left; padding-left:20px;_display:inline}
#submenu #search{ float:right;height:33px; width:360px;vertical-align:middle; line-height:33px; _padding-top:3px}
.inp_srh { width:180px; height:20px;border:1px solid #cbcbcb;vertical-align:middle; line-height:20px}
.btn_srh { width:48px; height:21px; background: url(../image/index_12.gif) 0 0 no-repeat; border:none; cursor:pointer; text-indent:-999em;vertical-align:middle;}
#mainContent {clear:both;}
/*左侧边栏*/
#sidebar { float:left; width:241px; }
.side_box{ width:241px; margin-bottom:8px;}
.side_box h1{ background:url(../image/index_16.gif) no-repeat left top; height:33px; line-height:33px;  overflow:hidden; padding:0px 10px 0px 10px }
.side_box span{ color:#FFFFFF; font-size:14px; font-weight:bold; padding-left:20px; display:block; height:33px; line-height:33px;}
.more { float:right;  font-size:12px; font-weight:normal; color:#666;}
.more:hover { color:#cc0000; }
.side_con{ border:1px solid #d1d0d0; border-top:none; padding:15px 15px 0 15px; overflow:hidden; padding:5px; height:192px;}
.side_con ul{}
.side_con ul li{ line-height:24px;}
#tpqh { width:229px; height:192px; text-align:center; vertical-align: middle}

/*右侧边栏*/
#sidebar2 { float:right; width:241px; }
.side2_box{ width:241px; margin-bottom:8px;}
.side2_box h1{ background:url(../image/index_18.gif) no-repeat left top; height:33px; line-height:33px;  overflow:hidden; padding:0px 10px 0px 10px }
.side2_box span{ color:#FFFFFF; font-size:14px; font-weight:bold; padding-left:20px; display:block; height:33px; line-height:33px;}
.jdjb{ text-align: left; height:202px; padding:0px 13px 0px}
.jdjb h3{ font-size:14px; font-weight:bold; color:#333; line-height:28px; padding-top:0px}
.jdjb strong{ color:#cc0000}
/*中部*/
#content { margin:0 248px !important; margin:0 245px; height:723px; }
.index_file{ border:1px solid #d4d3d3; padding:6px; padding-bottom:2px; margin-bottom:8px; height:182px}
.index_file h3{ width:483px; height:28px; background:url(../image/index_17.gif) no-repeat; line-height:28px; padding-right:5px }
.index_file h3 span{ color:#FFFFFF; font-size:14px; padding-left:15px }
.index_file .mulitline{width:478px; height:150px; overflow:hidden}
.news_list{ padding:5px 5px 0px}
.news_list li{ border-bottom:1px dashed #d8d8d8; line-height:24px; background: url(../image/index_33.gif) left center no-repeat; padding-left:8px;}
.news_list li span{float:right;}
.index_box{ margin-bottom:8px}
.index_box h3{ width:495px; height:32px; background:url(../image/index_37.gif) no-repeat; line-height:32px; padding:0px 5px }
.index_box .more{ color:#FFFFFF}
.index_box h3 span{ color:#cc0000; font-size:14px; padding-left:10px }
.index_con{ border:1px solid #d4d3d3; border-top:none; padding:5px; padding-top:0px; height:201px }
.index_con2{ border:1px solid #d4d3d3; border-top:none; padding:5px; padding-top:0px; height:239px;_height:234px}
.index_pic { padding:8px 8px 0px; overflow:auto; zoom:1;}
.index_pic li { width:120px; float:left; margin:0px 0 0px 30px; display:inline; text-align:center; text-align:center}
.index_pic li a { display:block; font-size:14px; color:#000; font-weight:bold}
.index_pic li img { margin:0px 28px 5px}
.wjline{ height:3px; line-height:3px; background:url(../image/index_57.gif) repeat-x; width:460px; margin:8px 10px; _margin-bottom:-12px}
.index_pic2 { padding:5px 8px 0px; overflow:auto; zoom:1; margin-left:50px}
.index_pic2 li { width:120px; float:left; margin:6px 0 0px 50px; display:inline; text-align:center; text-align:center}
.index_pic2 li a { display:block; font-size:14px; color:#000; font-weight:bold}
.index_pic2 li img { margin:0px 28px 5px; width:64px; height:71px}

/*友情链接*/
.yqlj{ width:1002px; margin:0 auto; margin-bottom:10px; clear:both}
.scrolldoorFrame{width:1002px;margin:0px auto;overflow:hidden; background:url(../image/index_yqlj.jpg) no-repeat;}
.scrollUl{width:900px;overflow:hidden;height:28px; padding-left:102px; padding-top:3px }
.scrollUl li{float:left; font-size:14px;text-align:center; width:220px;height:28px; line-height:28px;}
.bor03{border-top-width:0px;}
.sd01{cursor:pointer; background: #FFFFFF; height:28px;font-size:14px;text-align:center;width:220px; color:#333333; line-height:28px; font-weight:bold}
.sd01 a{ color:#333; font-weight:bold}
.sd02{cursor:pointer; width:220px;color:#fff; font-weight:bold}
.sd02 a{color:#fff; font-weight:bold}
.cont{ padding:10px; border-top:none; margin-top:0px; height:auto}
.cont ul li{ width:225px; float:left; margin-right:20px; line-height:25px}
.hidden{display:none;}


/*底部*/
#footer { height:80px; clear:both; background:url(../image/indexfo_bg.gif) repeat-x; text-align:center; padding-top:20px; line-height:24px; color:#000000;}
/*二级页*/
#iside{ float:left; width:242px; margin-bottom:8px;_margin-bottom:12px}
#iside h1{ background:url(../image/iside_tit.gif) no-repeat; height:66px;}
#iside_con{ background:url(../image/iside_bg.gif) repeat-y; border:1px solid #d4d3d3; padding:5px 20px; border-top: none; height:590px}
#iside_con li{ background:url(../image/iside_tbg.gif) no-repeat; width:150px; height:36px; line-height:36px; font-size:14px; font-weight:bold; color:#333333; padding-left:38px; margin-bottom:14px; }
#imain{ float:right; width:752px; border:1px solid #d4d3d3; height:665px; margin-bottom:8px;_margin-bottom:12px}
#imain h3{ background:url(../image/imain_titbg.gif) repeat-x; font-size:12px; color:#a80000; font-weight:normal ; padding:0px 10px; height:30px; line-height:30px}
#imain h3 a{ color:#a80000}
#imain h3 span{ background:url(../image/imain_icon01.gif) left center  no-repeat; padding-left:20px;display:block; height:30px}
.imain_news{ padding:5px 15px 0px 15px;}
.imain_news li{ font-size:14px; color:#333333; line-height:29px; background:url(../image/index_33.gif) left center no-repeat; padding-left:15px;border-bottom:1px dashed #d8d8d8;}
.imain_news span{ float:right}
.imain_news .imainnews_tit{}
.imain_news .imainnews_tit dt{ margin-top:5px}
.imain_news .imainnews_tit h2{ background:url(../image/imain_titbg2.gif) no-repeat; width:720px; height:29px}
.imain_news .imainnews_tit h2 span{ line-height:29px; text-align:left; color:#cc0000; font-size:14px; padding-left:15px ; float:left  }
.imain_news .imainnews_tit h2  a{color:#cc0000;; height:29px; line-height:29px}
/*新闻翻页*/
.page {TEXT-ALIGN: center; WIDTH: 100%; FLOAT: left}
.page UL {TEXT-ALIGN: center; MARGIN: 0px auto}
.page DIV {TEXT-ALIGN: center; MARGIN: 0px auto}
.page LI {BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 28px; MARGIN: 0px 2px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; DISPLAY: inline; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px; }
.page A:hover {BACKGROUND-COLOR: #f5f5f5}
.page A.red {COLOR: #b50029}
/*文章页*/
#article_wrap{ margin-bottom:8px;width:1002px; border:1px solid #d4d3d3; }
#article_wrap h3{ background:url(../image/imain_titbg.gif) repeat-x; font-size:12px; color:#a80000; font-weight:normal ; padding:0px 10px; height:30px; line-height:30px}
#article_wrap h3 a{ color:#a80000}
#article_wrap h3 span{ background:url(../image/imain_icon01.gif) left center  no-repeat; padding-left:20px;display:block; height:30px}
#article_wrap #article_con{ padding:15px}
#article_con #article_title{ text-align:center; line-height:40px; padding:10px 0px; font-family:"微软雅黑","黑体"; font-size:25px; color:#cc0000}
#article_con h5{ font-size:12px; font-weight:normal; color:#666666; height: 30px; line-height:35px; border-bottom:1px dashed #b5b5b5; text-align:center}
#article_con h5 span a{ color:#cc0000}
#article_con .article_default{ padding-top:10px; font-size:14px; line-height:24px} 

