@charset "utf-8";
/* CSS Document */
html{color:#000000;background-color:#ba0303;}
body{background-color:#ba0303;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0;}
body {margin:0 auto;_word-break:break-all;}
body,button,input,select,textarea {font-size:12px;font-family:宋体,Gisha,Tahoma, Helvetica, Arial, sans-serif;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
select, input, button, textarea { _font-size:100%; }
h4, h5, h6 {font-size: 100%;}
ul, ol {list-style:none outside none;}
a {text-decoration: none;color:#000000;}
a:hover{text-decoration:none;color:#FD0100}
a,a:hover{outline: none;blr:expression(this.onFocus=this.blur());} 
table {border-collapse: collapse;border-spacing: 0;}
img{ border:none}
.navfont{ font-size:18px; font-family:"黑体"; color: #FFFFFF; font-weight:bold}
.navfont a{ font-size:18px; font-family:"黑体"; color: #FFFFFF; font-weight:bold}
.navfont a:hover{ font-size:18px; font-family:"黑体"; color:#fde249; font-weight:bold}
.black14{ font-size:14px; color:#000000; line-height:30px }
.black14 a{ font-size:14px; color:#000000; line-height:30px }
.black14 a:hover{ font-size:14px; color:#006699; line-height:30px}
.redjl{ font-size:14px; color:#cc0000; line-height:30px }
.redjl a{ font-size:14px; color:#cc0000; line-height:30px }
.redjl a:hover{ font-size:14px; color:#006699; line-height:30px}

.while14{ color:#FFFFFF; font-size:14px; }
.while14 a{ color:#FFFFFF; font-size:14px;}
.while14 a:hover{ color:#fbed63; font-size:14px; }

.blue14{ font-size:14px; font-weight:bold; color:#0066cc}
.blue14 a{ font-size:14px; font-weight:bold; color:#0066cc}
.blue14 a:hover{ font-size:14px; font-weight:bold; color:#000000}
.gray{ color:#333;}
.gray a{ color:#333;}
.gray a:hover{color:#cc0000;}
.gray2{ color:#666666;}
.gray2 a{ color:#666666;}
.gray2 a:hover{color:#cc0000;}
.mt6{ margin-top:6px}
.mb6{ margin-bottom:6px}
.mt3{ margin-top:3px}
.mb3{ margin-bottom:3px}
.mt10{ margin-top:10px}
.mb10{ margin-bottom:10px}
.mb9{ margin-bottom:9px}
.mt8{ margin-top:8px}
.mb8{ margin-bottom:8px}
.mt5{ margin-top:5px}
.mb5{ margin-bottom:5px}
.while{ color:#FFFFFF; }
.while a{ color:#FFFFFF; }
.while a:hover{ color:#ffff00; }
.black{ color:#000000;}
.black a{  color:#000000; }
.black a:hover{  color:#ff6600;}

.gray14{ color:#333333; font-size:14px;}
.gray14 a{ color:#333333; font-size:14px;}
.gray14 a:hover{ font-size:14px; color:#a62b30; text-decoration:underline}
.black16{ font-size:16px; font-weight:bold}
.red{ color:#ff0000; font-size:12px}

