body {
  position: relative;
}
.block {
  margin-bottom: 15px;
}
.block:nth-child(3),
.block:nth-child(5) {
  width: 57%;
  float: left;
  overflow: hidden;
}
.block:nth-child(4),
.block:nth-child(6) {
  width: 42%;
  float: right;
  overflow: hidden;
}
.block:nth-child(7),
.block:nth-child(9) {
  width: 30%;
  float: left;
  overflow: hidden;
}
.block:nth-child(8),
.block:nth-child(10) {
  width: 69%;
  float: right;
  overflow: hidden;
}
.block_left {
  float: left;
}
.block_right {
  float: right;
}
.concern {
  background: #fff;
  margin-bottom: 15px;
  overflow: hidden;
}
.concern_left {
  float: left;
  width: 76%;
  overflow: hidden;
}
.concern_left img {
  vertical-align: middle;
  margin: 10px 30px;
  float: left;
}
.concern_left span {
  font-size: 2em;
  color: #8e0d2b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 80%;
  margin-top: 25px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
}
.concern_left span:hover {
  color: rgba(0, 0, 0, 0.5);
}
.concern_right {
  float: right;
  width: 24%;
}
.concern_right iframe {
  margin-top: 20px;
}
.pic_news {
  margin-top: 35px;
}
.pic_news .swiper-slide a {
  position: relative;
}
.pic_news .swiper-slide img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
  height: 285px;
}
.pic_news .pagination {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.pic_news .swiper-pagination-switch {
  width: 8px;
  height: 8px;
  background: #fff;
}
.pic_news .swiper-active-switch {
  background: #0e9fee;
}
.pic_news .arrow-left {
  top: 35%;
}
.pic_news .arrow-right {
  top: 35%;
  right: 25px;
}
.pic_news_tittle {
  color: #fff;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 96%;
  padding: 10px 2%;
}
.pic_news_tittle span {
  display: inline-block;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video {
  padding-top: 20px;
}
.video_body {
  overflow: hidden;
}
.video_left {
  float: left;
  width: 57%;
  color: #1f1f1f;
}
.video_left img {
  width: 100%;
}
.video_name {
  font-size: 1.1em;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video_right {
  float: right;
  width: 40%;
}
.video_right li {
  margin-bottom: 1px;
  background: #f7f7f7;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.video_right li:hover {
  background: #fff;
}
.video_right li a {
  padding: 10px 20px;
  color: #1f1f1f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.focus .block_tittle_1 {
  width: 100%;
}
.focus .block_list {
  margin-top: 10px;
}
.notice .block_body {
  padding: 20px 30px 30px 30px;
}
.notice .list_name {
  width: 100%;
}
.three_btn {
  margin-top: 15px;
  overflow: hidden;
}
.three_btn a {
  width: 33%;
  background: #fff;
  text-align: center;
  color: #0e9fee;
  padding: 22px 0;
  float: left;
  font-size: 1.2em;
  margin-right: 1px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.three_btn a:hover {
  background: #e5e5e5;
}
.three_btn a:nth-child(3) {
  margin-right: 0;
}
.three_btn a img {
  width: 27%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}
.activity {
  clear: both;
  margin-bottom: 15px;
}
.activity img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.activity .pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  text-align: right;
}
.activity .swiper-pagination-switch {
  width: 12px;
  height: 12px;
}
.small_block .block_body {
  padding-top: 15px;
}
.small_block .list_name {
  width: 100%;
}
.gov .block_body {
  padding: 33px 30px;
}
.gov .block_left {
  width: 43%;
}
.gov .block_left img {
  width: 93%;
  margin: 0 auto;
  vertical-align: bottom;
}
.gov .block_right {
  width: 57%;
}
.gov .block_tittle_1 {
  width: 100%;
}
.gov .block_list {
  margin-top: 15px;
}
.gov .block_list li {
  border-bottom: 0;
}
.gov_left_img {
  position: relative;
}
.gov_left_img:nth-child(1) {
  margin-bottom: 40px;
}
.gov_left_img_word {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 93%;
  height: 100%;
  text-align: center;
  font-size: 1.1em;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.gov_left_img_word:hover {
  background: rgba(0, 0, 0, 0.1);
}
.gov_left_img_word img {
  width: 50px;
}
.gov_left_img_word span {
  padding: 10px;
  width: 50%;
  margin: 13% auto;
  margin-bottom: 0;
  display: block;
  background: #ff9a53;
}
.gov_left_img_word_span {
  background: #0e9fee !important;
  font-size: 0.9em;
  line-height: 25px;
  margin-top: 9%!important;
}
.online .block_left {
  width: 57%;
}
.online .block_right {
  width: 40%;
}
.online .block_tittle_1 {
  width: 100%;
}
.online .block_list {
  margin-top: 15px;
}
.online .block_list li {
  border-bottom: 0;
}
.online .list_name {
  width: 70%;
}
.online_body {
  margin-top: 30px;
}
.online_body .list_name {
  width: 100%;
}
.online_first {
  overflow: hidden;
  color: #1f1f1f;
}
.online_left {
  float: left;
  width: 40%;
}
.online_left img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.online_right {
  float: right;
  width: 58%;
}
.online_right div {
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.online_right div:nth-child(1) {
  color: red;
}
.interview {
  position: relative;
}
.interview img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.interview_top {
  position: absolute;
  width: 93%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.interview_top:hover {
  background: rgba(0, 0, 0, 0.1);
}
.interview_top_word {
  font-size: 1.5em;
  margin-top: 35%;
  margin-bottom: 10px;
}
.interview_top_btn {
  background: #0e9fee;
  color: #fff;
  cursor: pointer;
  width: 30%;
  padding: 7px 0;
  margin: 0 auto;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.interview_top_btn:hover {
  background: #007bbe;
}
.online_btn_body {
  background: #0e9fee;
  color: #fff;
  font-size: 1.5em;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
  position: relative;
  overflow: hidden;
  padding: 15px 40px;
  margin-bottom: 40px;
}
.online_btn_body:hover {
  background: #007bbe;
}
.online_btn_body img {
  float: left;
  margin-right: 15px;
  vertical-align: bottom;
}
.online_btn_body span {
  display: inline-block;
  margin-top: 5px;
}
.online_btn_body:nth-child(1) {
  font-size: 1.1em;
  padding: 20px 40px;
}
.online_btn_body:nth-child(1) img {
  float: left;
  margin-right: 30px;
  vertical-align: bottom;
}
.inves {
  background: #0e9fee;
  margin-top: 30px;
  font-size: 1.5em;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
  position: relative;
}
.inves:hover {
  background: #007bbe;
}
.inves img {
  vertical-align: bottom;
  margin-right: 15px;
}
.inves_btn {
  color: #fff;
  padding: 20px 50px;
}
.inves_body {
  position: absolute;
  background: #fff;
  width: 150%;
  height: 320px;
  left: -150%;
  bottom: -30px;
  color: #000;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
}
.inves_body iframe {
  width: 102%;
  height: 297px;
}
.six_btn_whole {
  width: 100%;
  float: none;
}
.six_btn {
  overflow: hidden;
}
.six_btn a {
  float: left;
  width: 15%;
  margin-right: 1.7%;
  color: #1f1f1f;
  border: 1px solid #0e9fee;
  transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;
  -o-transition: background 0.5s, color 0.5s;
  -moz-transition: background 0.5s, color 0.5s;
}
.six_btn a:hover {
  background: #0e9fee;
  color: #fff;
}
.six_btn a:nth-child(6) {
  margin-right: 0;
}
.six_btn_icon {
  background: #0e9fee;
  width: 30%;
  float: left;
  padding: 7px 10px;
  text-align: center;
}
.six_btn_word {
  text-align: center;
  line-height: 50px;
}
.four_activity {
  overflow: hidden;
  padding-top: 30px!important;
}
.four_activity a {
  width: 100%;
  margin-bottom: 8px;
  /*&:nth-child(1), &:nth-child(3) {
                float: left;
            }

            &:nth-child(2), &:nth-child(4) {
                float: right;
                margin-right: 0;
            }*/
}
.four_activity a:nth-child(3),
.four_activity a:nth-child(4) {
  margin-bottom: 0;
}
.four_activity a img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.swiper-slide {
  height: auto !important;
}
.swiper-wrapper {
  height: auto !important;
}
.swiper-container {
  position: relative;
}
.pagination {
  /*position: absolute;
        z-index: 20;
        left: 46%;
        bottom: 10px;*/
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dedede;
  margin-right: 5px;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #dedede;
}
.swiper-active-switch {
  background: #0e9fee;
}
.arrow-left {
  position: absolute;
  left: 0px;
  top: 45%;
  width: 17px;
  height: 30px;
  font-size: 3em;
  color: rgba(34, 34, 34, 0.5);
}
.arrow-right {
  position: absolute;
  right: 0px;
  top: 45%;
  width: 17px;
  height: 30px;
  font-size: 3em;
  color: rgba(34, 34, 34, 0.5);
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 50px;
  }
  .main_body {
    padding-bottom: 0px;
  }
  .block {
    width: 100%!important;
  }
  .block_body {
    padding: 15px;
    height: auto!important;
  }
  .block_tittle_1 {
    width: 100%!important;
  }
  .block_tittle_2 {
    padding: 0 15px;
  }
  .block_tittle_2 a {
    padding: 15px 0;
    font-size: 1.2em;
  }
  .list_name {
    width: 70%;
  }
  .concern_left,
  .concern_right {
    width: 100%;
    float: none;
  }
  .concern_left img {
    width: 35px;
    margin: 10px;
    margin-left: 15px;
  }
  .concern_left span {
    width: 80%;
    font-size: 1em;
    margin-top: 12px;
    /*text-overflow: ellipsis;*/
    white-space: initial;
    height: 30px;
  }
  .concern_right iframe {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .pic_news {
    margin-top: 15px;
    height: auto;
  }
  .pic_news .swiper-slide img {
    height: auto;
  }
  .pic_news .arrow-left,
  .pic_news .arrow-right {
    display: none;
  }
  .pic_news .pagination {
    bottom: 10px;
  }
  .pic_news_tittle {
    width: 98%;
    padding: 5px 1%;
  }
  .pic_news_tittle span {
    width: 65%;
  }
  .video_left {
    width: 100%;
  }
  .video_right {
    width: 100%;
    margin-top: 15px;
  }
  .notice .block_body {
    padding: 15px;
  }
  .gov .block_body {
    padding: 15px;
  }
  .gov .block_left {
    margin-bottom: 30px;
  }
  .gov .block_left img {
    width: 100%;
  }
  .gov .interview_top {
    width: 100%;
  }
  .gov_left_img_word {
    width: 100%;
  }
  .online_btn_body {
    margin-bottom: 15px;
  }
  .inves {
    margin-top: 15px;
  }
  .six_btn a {
    width: 100%;
    margin-bottom: 15px;
  }
  .six_btn a:nth-child(6) {
    margin-bottom: 0;
  }
  .four_activity a {
    width: 100%;
    margin-bottom: 15px!important;
  }
  .activity .content {
    width: 98%;
  }
  .activity img {
    width: 100%;
  }
  .activity .pagination {
    position: absolute;
    z-index: 20;
    left: 46%;
    bottom: 5px;
  }
  .activity .arrow-left,
  .activity .arrow-right {
    top: 25%;
  }
}
