@media screen and (max-width: 1920px) {
  .inpage_interview_list li {
    border-bottom: 1px dashed #dedede;
    padding: 30px 0;
    overflow: hidden;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .inpage_interview_list li:hover {
    background: #dbf1fc;
  }
  .inpage_interview_img {
    float: left;
    width: 20%;
  }
  .inpage_interview_img img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .inpage_interview_word {
    float: right;
    width: 78%;
    color: #1f1f1f;
    line-height: 27px;
    font-size: 0.95em;
  }
  .inpage_interview_word span {
    color: #0e9fee;
  }
  .inpage_interview_word_row:last-child {
    height: 80px;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .inpage_interview_list li {
    padding: 15px 0;
  }
  .inpage_interview_img,
  .inpage_interview_word {
    float: none;
    width: 100%;
  }
  .inpage_interview_img {
    margin-bottom: 10px;
  }
}
