.topic_top {
  margin-bottom: 20px;
}
.topic_top li {
  border-bottom: 1px dashed #dedede;
  padding: 30px 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.topic_top li:hover {
  background: rgba(14, 159, 238, 0.2);
}
.topic_top a {
  overflow: hidden;
}
.topic_img {
  float: left;
  width: 30%;
}
.topic_img img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.topic_word {
  float: right;
  width: 68%;
}
.topic_top_tittle {
  font-size: 1.3em;
  color: #0e9fee;
  margin-bottom: 10px;
}
.topic_top_content {
  color: #1f1f1f;
  line-height: 30px;
  height: 55px;
  overflow: hidden;
}
.topic_review_body .block_tittle_1 {
  background: none;
}
.topic_review_body .block_tittle_1 a {
  width: 33%;
  margin-right: 1px;
  background: #6a6a6a;
}
.topic_review_body .tittle_checked_1 {
  background: #0e9fee!important;
}
.topic_review_content {
  border: 1px solid #dedede;
  margin-top: 20px;
  padding: 20px;
}
.topic_review_content ul {
  overflow: hidden;
}
.topic_review_content li {
  float: left;
  width: 33.33333333%;
  padding: 5px 0;
}
.topic_review_content li a {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1f1f1f;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
}
.topic_review_content li a:hover {
  color: #0e9fee;
}
@media screen and (max-width: 768px) {
  .topic_img {
    float: none;
    width: 100%;
  }
  .topic_word {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .topic_top_content {
    height: auto;
  }
  .topic_review_body .block_tittle_1 a {
    width: 32.66666667%;
  }
  .topic_review_content {
    padding: 10px;
  }
  .topic_review_content li {
    float: none;
    width: 100%;
  }
}
