.gov_left .inpage_title_1 {
  width: 100%;
  text-align: center;
}
.gov_left span {
  line-height: 25px;
}
.gov_left img {
  vertical-align: bottom;
  display: block;
  float: left;
  margin-right: 10px;
}
.gov_event ul {
  overflow: hidden;
}
.gov_event li {
  width: 47%;
}
.gov_event li:nth-child(odd) {
  float: left;
}
.gov_event li:nth-child(even) {
  float: right;
}
.gov_event .inpage_row {
  background: #e4e4e4;
  text-align: center;
}
.gov_event .inpage_row:hover {
  background: #cfcfcf;
}
.gov_right .list_name {
  width: 100%;
}
.gov_right .inpage_block {
  width: 47%;
}
.gov_right .inpage_block:nth-child(1),
.gov_right .inpage_block:nth-child(4),
.gov_right .inpage_block:nth-child(7) {
  float: left;
}
.gov_right .inpage_block:nth-child(2),
.gov_right .inpage_block:nth-child(5),
.gov_right .inpage_block:nth-child(8) {
  float: right;
}
.last_block .inpage_title a {
  width: 33.33333333%;
}
.gov_btn {
  clear: both;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 40px 0;
  margin-bottom: 40px;
  overflow: hidden;
}
.gov_btn li {
  float: left;
  width: 25%;
  text-align: center;
}
.gov_btn li a {
  color: #1f1f1f;
  font-size: 1.2em;
}
.gov_btn li img {
  vertical-align: middle;
}
.gov_btn_1 a {
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
}
.gov_btn_1 a:hover {
  color: #0e9fee;
}
.gov_btn_2 {
  padding: 30px 0;
}
.gov_btn_2 a {
  padding: 10px 0;
  border: 1px solid #dedede;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.gov_btn_2 a:hover {
  background: #dedede;
}
@media screen and (max-width: 768px) {
  .gov_right .inpage_block {
    width: 100%;
  }
  .gov_right .inpage_block:nth-child(odd) {
    float: none;
  }
  .gov_right .inpage_block:nth-child(even) {
    float: none;
  }
  .gov_btn li {
    width: 100%;
    margin-bottom: 10px;
  }
}
