.inpage_inves .inpage_title_1 {
  width: 100%;
  text-align: center;
}
.inpage_inves .list_name {
  width: 70%;
}
.inpage_inves .list_time {
  color: #dedede;
}
.list_name {
  width: 100%;
}
.inpage_inves_body_outer {
  border: 1px solid #dedede;
  overflow: hidden;
  height: 450px;
}
.inpage_inves_body_outer iframe {
  width: 105%;
  height: 450px;
}
.inpage_inves_first {
  margin-bottom: 30px;
  overflow: hidden;
}
.inpage_inves_first_left {
  float: left;
  width: 30%;
}
.inpage_inves_first_left img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.inpage_inves_first_btn {
  background: #0e9fee;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.inpage_inves_first_btn:hover {
  background: #007bbe;
}
.inpage_inves_word {
  float: right;
  width: 68%;
  color: #1f1f1f;
  line-height: 27px;
  font-size: 1.1em;
  height: 175px;
  overflow: hidden;
  padding-left: 1%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.inpage_inves_word:hover {
  background: rgba(14, 159, 238, 0.2);
}
.inpage_inves_word_red {
  color: red;
  font-size: 1.2em;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .inpage_inves_first_left {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .inpage_inves_word {
    float: none;
    width: 100%;
  }
}
