.inpage_top {
  padding: 20px 40px;
}
.inpage_search {
  display: block;
}
.inpage_search .header_search {
  overflow: hidden;
  float: right;
  margin-right: 0;
}
.inpage_search .header_search input {
  width: 60%;
  background: #dedede;
}
.inpage_search_word {
  float: left;
  line-height: 35px;
}
.inpage_search_intro {
  font-size: 1.3em;
  color: #1f1f1f;
  margin-bottom: 20px;
}
.inpage_search_intro span {
  color: #0e9fee;
}
.inpage_search_intro span b {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.4em;
}
.inpage_search_list li {
  border-bottom: 1px dashed #dedede;
  padding: 30px 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.inpage_search_list li:hover {
  background: rgba(14, 159, 238, 0.2);
}
.inpage_search_list_top {
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.inpage_search_tittle {
  float: left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1f1f1f;
}
.inpage_search_time {
  float: right;
  text-align: right;
  width: 20%;
  font-size: 0.9em;
  color: #0e9fee;
}
.inpage_search_list_content {
  width: 90%;
  line-height: 25px;
  color: #525252;
  font-size: 0.95em;
}
.inpage_content {
  *width: 100%;
}
.inpage_search_list li {
  *width: 94%;
}
.inpage_top {
  *margin-top: 260px;
}
.inpage_top_column {
  *float: left;
}
.inpage_top {
  *overflow: hidden;
}
@media screen and (max-width: 768px) {
  .inpage_top {
    padding: 15px;
    overflow: hidden;
  }
  .header_search {
    width: 100%;
    text-align: left;
  }
  .header_search input {
    width: 100%!important;
  }
  .header_search img {
    top: 60%;
  }
  .inpage_search_word {
    width: 100%;
  }
  .inpage_search_intro span {
    display: block;
  }
  .inpage_search_tittle,
  .inpage_search_time {
    float: none;
    width: 100%;
  }
  .inpage_search_time {
    margin-top: 10px;
    text-align: left;
  }
  .inpage_search_list_content {
    width: 100%;
  }
}
