@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{list-style:none;}
body {font-size:12px; line-height:24px; color:#000000; font-family: "宋体"; background:url(../image/index_bg.jpg) center top no-repeat}
img{ border:none}
	
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration:none;
}
.while14{ color:#FFFFFF; font-size:14px;}
.while14 a{ color:#FFFFFF; font-size:14px;}
.while14 a:hover{ color:#fbed06; font-size:14px;}
.while{ color:#FFFFFF;}
.while a{ color:#FFFFFF; }
.while a:hover{ color:#fbed06; }
.l10{ margin-left:10px}
.gray{ color:#333;}
.gray a{ color:#333;}
.gray a:hover{color:#cc0000;}
.gray2{ color:#666666;}
.gray2 a{ color:#666666;}
.gray2 a:hover{color:#cc0000;}
.gray14{ color:#333; font-size:14px}
.gray14 a{ color:#333; font-size:14px}
.gray14 a:hover{color:#cc0000; font-size:14px}
.line20{ line-height:20px}
.whileb{ color:#FFFFFF; font-weight:bold }
.whileb a{ color:#FFFFFF; font-weight:bold }
.whileb a:hover{ color:#ffff00; font-weight:bold}
.lineh22{ line-height:22px}
.borhui{ border:1px solid #dedede}
.borhui2{ border:1px solid #dcdcdc}

.red{ color:#cc0000; font-size:12px}
.red a{ color:#cc0000; font-size:12px}
.red a:hover{ color:#000000; font-size:12px}
.input_text{ width:155px; color:#c2c0c1; border: 1px solid #c5c5c5; height:18px; line-height:18px}
#select_cx{ width:95px; height:20px; line-height:20px}
#input_cx{ width:160px; height:20px; line-height:20px; border:1px solid #e1e1e1}
.tpqh1{ border:1px solid #dfdfdf; padding:5px}
#tpqh1{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 520px; PADDING-TOP: 0px; HEIGHT: 295px}
.mt10{ margin-top:10px}
.mb10{ margin-bottom:10px}
.mt6{ margin-top:6px}
.mt7{ margin-top:7px}
.mb6{ margin-bottom:6px}
.mt3{ margin-top:3px}
.mb3{ margin-bottom:3px}
.pl30{ padding-left:30px}

.mb9{ margin-bottom:9px}
.mt8{ margin-top:8px}
.mb8{ margin-bottom:8px}
.mt5{ margin-top:5px}
.mb5{ margin-bottom:5px}
.mt13{ margin-top:13px}
.red14{ color:#cc0000; font-size:14px }
.red14 a{ color:#cc0000; font-size:14px }
.red14 a:hover{ color:#000000; font-size:14px }
.borbline{ border-bottom:1px dotted #afafaf}
.borlline{ border-left:1px solid #e1e1e1}
.borblineh{ border-bottom:1px dashed #e2c9a6}
.borblinehui{ border-bottom:1px dashed #dcdcdc}
.norepeat{background:no-repeat}
.q2em{ text-align:2em}


.shizhang{ border:1px solid #d0cece; background-color:#fcf2ef; padding:12px}
.szzl{ border:1px solid #ffa399; background-color: #FFFFFF; padding:8px; padding-bottom:14px}
.red_tit{ color:#df0014; font-size:12px; font-weight:bold; padding-left:10px}
.red_tit a{ color:#df0014; font-size:12px; font-weight:bold;}
.line30{ line-height:30px}
.black{ color:#000000;}
.black a{color:#000000; }
.black a:hover{color:#cc0000;}
.black14{ color:#000000; font-size:14px}
.black14 a{color:#000000; font-size:14px}
.black14 a:hover{color:#cc0000;font-size:14px}
.borlv{ border:1px solid #c1e9a0; background-color:#ffffff}
.blue{ color:#0099cc; font-size:12px}
.blue a{ color:#0099cc; font-size:12px}
.blue2{ color:#3366cc; font-size:12px}
.blue2 a{ color:#3366cc; font-size:12px}
.blue14{ color:#0099cc; font-size:14px}
.blue14 a{ color:#0099cc; font-size:14px}
.yjxt{ border:1px solid #8ccdff}
.input_yh{ width:115px; height:18px; line-height:18px; border:1px solid #cccccc}
.whileheiti{ color:#FFFFFF; font-size:16px; font-family:"黑体"; font-weight: bold}
.while_ti{ color:#FFFFFF; font-size:22px; font-family:"黑体"; font-weight: bold; line-height:30px}
.while_ti a{ color:#FFFFFF; font-size:22px; font-family:"黑体"; font-weight: bold; line-height:30px} 
.red16{ font-size:16px; color:#bb0404; font-weight:bold;}



/*子页样式*/
/*市情简介*/
.sqjjtqh{ border:1px solid #d8d8d8; padding:3px}
#banner #ifocus {
	POSITION: relative; WIDTH: 527px; HEIGHT: 273px
}
#banner #ifocus_pic {
	POSITION: relative; WIDTH: 527px; DISPLAY: inline; FLOAT: left; HEIGHT: 273px; OVERFLOW: hidden
}
#banner #ifocus_piclist {
	Z-INDEX: 1; POSITION: absolute
}
#banner #ifocus_piclist LI {
	WIDTH: 527px; HEIGHT: 273px; OVERFLOW: hidden
}
#banner #ifocus_piclist IMG {
	WIDTH: 527px; HEIGHT: 273px
}
#banner #ifocus_btn {
	Z-INDEX: 3; POSITION: absolute; PADDING-LEFT: 3px; WIDTH: 527px; BOTTOM: 2px; HEIGHT: auto; LEFT: 0px; _bottom: 2px
}
UNKNOWN {
	BOTTOM: 5px
}
#banner #ifocus_btn LI {
	FILTER: alpha(opacity=50); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 6px; WIDTH: auto; PADDING-RIGHT: 6px; DISPLAY: block; FLOAT: left; HEIGHT: auto; CURSOR: pointer; PADDING-TOP: 0px; opacity: 0.5; -moz-opacity: 0.5
}
#banner #ifocus_btn IMG {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 88px; HEIGHT: 46px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
#banner #ifocus_btn .current {
	TEXT-ALIGN: left; FILTER: alpha(opacity=100); MARGIN-TOP: 0px; DISPLAY: block; FLOAT: left; opacity: 1; -moz-opacity: 1
}
#banner #ifocus_btn .current IMG {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 88px; HEIGHT: 46px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#banner #ifocus_opdiv {
	Z-INDEX: 2; POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 527px; BOTTOM: 0px; BACKGROUND: #000; HEIGHT: 60px; LEFT: 0px; opacity: 0.5; -moz-opacity: 0.5; _height: 54px
}
#banner #ifocus_tx {
	Z-INDEX: 3; POSITION: absolute; BOTTOM: 8px; COLOR: #fff; LEFT: 8px
}
#banner #ifocus_tx .normal {
	DISPLAY: none
}

/*市情简介城市荣誉TAB */
.scrolldoorFrames{width:456px;margin:0px auto;overflow:hidden; border:1px solid #dcdcdc;background:url(../image/sqjj_21.gif) repeat-x;}
.scrollUls{width:436px;overflow:hidden;height:31px;  margin-left:20px}
.scrollUls li{float:left; font-size:14px; ; text-align:center; width:101px; }
.bor03{border-top-width:0px;}
.sd11{cursor:pointer; background:url(../image/sqjj_21u.gif); margin-top:0px;font-weight:bold; height:31px; color:#FFFFFF; font-size:14px;text-align:center; padding-top:5px}
.sd12{cursor:pointer;width:101px; padding-top:5px;color:#333333}
.conts{ padding:5px 10px 10px; height:261px;overflow:hidden}
.hidden{display:none;}
/*市情简总体概括TAB */
.scrolldoorFramet{width:531px;margin:0px auto;overflow:hidden; border:1px solid #dcdcdc;background:url(../image/sqjj_21.gif) repeat-x;}
.scrollUlt{width:511px;overflow:hidden;height:31px;  margin-left:20px}
.scrollUlt li{float:left; font-size:14px; ; text-align:center; width:101px; }
.bor03{border-top-width:0px;}
.sd13{cursor:pointer; background:url(../image/sqjj_21u.gif) no-repeat; margin-top:0px;font-weight:bold; height:31px; color:#FFFFFF; font-size:14px;text-align:center; padding-top:5px}
.sd14{cursor:pointer;width:101px; padding-top:5px;color:#333333}
.contt{ padding:5px 10px 10px; height:120px;overflow:hidden}
.hidden{display:none;}
/*市情简介国民经济TAB */
.scrolldoorFrameg{width:456px;margin:0px auto;overflow:hidden; border:1px solid #dcdcdc;background:url(../image/sqjj_21.gif) repeat-x;}
.scrollUlg{width:436px;overflow:hidden;height:31px;  margin-left:20px}
.scrollUlg li{float:left; font-size:14px; ; text-align:center; width:101px; }
.bor03{border-top-width:0px;}
.sd15{cursor:pointer; background:url(../image/sqjj_21u.gif) no-repeat; margin-top:0px;font-weight:bold; height:31px; color:#FFFFFF; font-size:14px;text-align:center; padding-top:5px}
.sd16{cursor:pointer;width:101px; padding-top:5px;color:#333333}
.contg{ padding:5px 10px 10px; height:120px;overflow:hidden}
.hidden{display:none;}
/*市情简历史沿革TAB */
.scrolldoorFramett{width:531px;margin:0px auto;overflow:hidden; border:1px solid #dcdcdc;background:url(../image/sqjj_21.gif) repeat-x;}
.scrollUltt{width:511px;overflow:hidden;height:31px;  margin-left:20px}
.scrollUltt li{float:left; font-size:14px; ; text-align:center; width:101px; }
.bor03{border-top-width:0px;}
.sd17{cursor:pointer; background:url(../image/sqjj_21u.gif) no-repeat; margin-top:0px;font-weight:bold; height:31px; color:#FFFFFF; font-size:14px;text-align:center; padding-top:5px}
.sd18{cursor:pointer;width:101px; padding-top:5px;color:#333333}
.conttt{ padding:5px 10px 10px; height:120px;overflow:hidden}
.hidden{display:none;}
/*市情简介对外联络TAB */
.scrolldoorFramegg{width:456px;margin:0px auto;overflow:hidden; border:1px solid #dcdcdc;background:url(../image/sqjj_21.gif) repeat-x;}
.scrollUlgg{width:436px;overflow:hidden;height:31px;  margin-left:20px}
.scrollUlgg li{float:left; font-size:14px; ; text-align:center; width:101px; }
.bor03{border-top-width:0px;}
.sd19{cursor:pointer; background:url(../image/sqjj_21u.gif) no-repeat; margin-top:0px;font-weight:bold; height:31px; color:#FFFFFF; font-size:14px;text-align:center; padding-top:5px}
.sd20{cursor:pointer;width:101px; padding-top:5px;color:#333333}
.contgg{ padding:5px 10px 10px; height:120px;overflow:hidden}
.hidden{display:none;}

.pl20{ padding-left:20px}
.borxxgk{ border:1px solid #dddddd; border-top:none;}
.black16{ font-size:16px; color:#000000}
.zfwj_ti{ font-size:24px; font-family:"黑体"; color:#000000; line-height:36px; font-weight:bold}
.zfwj_ti a{ font-size:24px; font-family:"黑体"; color:#000000; line-height:36px; font-weight:bold}

.zfwj_ti2{ font-size:36px; font-family:"黑体"; color:#000000; line-height:36px; font-weight:bold}
.zfwj_ti2 a{ font-size:36px; font-family:"黑体"; color:#000000; line-height:36px; font-weight:bold}

.lv_tit{ color:#389e1e; font-weight: bold; font-size:14px}
.gzcyline{ border:1px solid #d7d7d7; border-top:none}

/*公众参与政府系统网站评比*/
.scrolldoorFramew{width:726px;margin:0px auto;overflow:hidden; margin-top:8px}
.scrollUlw{width:726px;overflow:hidden;height:30px; background:url(../image/zxftqh_10.gif) repeat-x;}
.scrollUlw li{float:left; font-size:14px; ; text-align:center; width:120px; }
.scrollUlw #ts{ width:71px; font-size:12px; color:#FFFFFF; font-weight:bold; background: url(../image/zxftqh_09.gif) no-repeat; height:27px; padding-top:3px}
.sd21{cursor:pointer; width:120px; margin-top:0px;font-weight:bold; height:27px; color:#098ed0; font-size:14px;text-align:center; padding-top:3px}
.sd22{cursor:pointer;width:120px; padding-top:3px;color:#333333}
.contw{ padding:5px 10px 10px; color:#333}

.scrolldoorFrameww{width:726px;margin:0px auto;overflow:hidden;}
.scrollUlww{width:726px;overflow:hidden;height:30px; background:url(../image/zxftqh_10.gif) repeat-x;}
.scrollUlww li{float:left; font-size:14px; ; text-align:center; width:80px; }
.scrollUlww #ts2{ width:140px; font-size:12px; color:#FFFFFF; font-weight:bold; background: url( ../image/gzcy_30a.gif) no-repeat; height:27px; padding-top:3px}
.sd23{cursor:pointer; width:120px; margin-top:0px;font-weight:bold; height:27px; color:#098ed0; font-size:14px;text-align:center; padding-top:3px}
.sd24{cursor:pointer;width:120px; padding-top:3px;color:#333333}
.contww{ padding:5px 10px 10px; color:#333}
/*十大功能区IE6背景透明*/

.gbg{background: url(../image/jls_tbg.png) ;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="../sdgnq/image/jls_tbg.png");_background:none; font-size:30px; padding-left:40px; font-family:"黑体"; font-weight:bold; line-height:50px}
.gbg2{background: url(../image/jls_tbg2.png) ;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="../sdgnq/image/jls_tbg2.png");_background:none; font-size:30px; padding-left:40px; font-family:"黑体"; font-weight:bold; line-height:50px}

.old_nav a{
    color:#fff;
    font-size:16px;
}