body {
  background: #f3f3f3;
}
.hk_header {
  background: #fff;
}
.hk_header .content {
  position: relative;
  overflow: hidden;
}
.hk_header_logo {
  float: left;
  width: 10%;
  margin: 35px 0;
  margin-right: 20px;
}
.hk_header_word {
  float: left;
  font-size: 3em;
  color: #00659b;
  margin-top: 55px;
}
.hk_header_img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 60%;
}
.hk_header_img img {
  vertical-align: bottom;
  width: 100%;
}
.hk_nav {
  background: #13a78f;
}
.hk_nav ul {
  width: 70%;
  float: left;
}
.hk_nav ul li {
  float: left;
  width: 16.66666667%;
  text-align: center;
  position: relative;
}
.hk_nav ul li a {
  color: #fff;
  padding: 10px 0;
  font-size: 1.2em;
}
.hk_nav ul li a:hover {
  background: #bdfff5;
  color: #000;
}
.hk_nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 100%;
  margin-top: 1px;
}
.hk_nav ul li ul li {
  width: 100%;
  background: #bdfff5;
  margin-bottom: 1px;
}
.hk_nav ul li ul a {
  color: #000;
}
.hk_nav_show {
  background: #bdfff5;
  color: #000;
}
.hk_search {
  float: right;
  width: 25%;
  overflow: hidden;
  margin-top: 10px;
}
.hk_search input {
  padding: 5px 10px;
  border: 0;
  width: 66.5%;
  float: left;
}
.hk_search_btn {
  float: right;
  background: #4fd4bf;
  color: #fff;
  height: 25px;
  line-height: 25px;
  width: 26%;
  text-align: center;
  cursor: pointer;
}
.main {
  margin-top: 0;
}
.top_bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 215px;
  z-index: -1;
  background: #4fd4bf;
}
.top_bg img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
  margin-top: 350px;
  margin-bottom: 50px;
}
.hk_wrap {
  width: 96%;
  margin: 30px auto;
  margin-bottom: 0;
}
.hk_wrap > img {
  z-index: 1;
  width: 100%;
}
.swiper-container .arrow-left {
  top: 37%;
}
.swiper-container .arrow-right {
  top: 37%;
  right: 25px;
}
.swiper-container .pagination {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.swiper-container .swiper-active-switch {
  background: #4fd4bf;
}
.swiper-slide a {
  position: relative;
}
.swiper-slide a img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.swiper-slide .pic_news_tittle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.32);
  color: #fff;
  margin: 0;
  padding: 10px;
}
.white_bg {
  background: #fff;
  padding: 30px;
}
.hk_tittle {
  overflow: hidden;
  margin-bottom: 15px;
}
.hk_tittle div {
  width: 7px;
  height: 25px;
  background: #4fd4bf;
  float: left;
  margin-right: 10px;
}
.hk_tittle a {
  color: #1f1f1f;
  display: inline-block;
  line-height: 25px;
  font-size: 1.3em;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
}
.hk_tittle a:hover {
  color: #4fd4bf;
}
.hk_row {
  overflow: hidden;
  margin-bottom: 30px;
}
.hk_block {
  width: 47%;
  float: left\9;
  margin-right: 1.5%\9;
}
.hk_block:nth-child(odd) {
  float: left;
}
.hk_block:nth-child(even) {
  float: right;
}
.list_name {
  width: 100%;
}
.hk_block_1 {
  float: left;
  width: 30%;
}
.hk_block_2 {
  float: right;
  width: 67%;
  overflow: hidden;
}
.hk_block_2 ul {
  float: right;
  width: 50%;
}
.hk_block_img {
  float: left;
  width: 48%;
}
.hk_block_img img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.hk_activity img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.hk_three_btn {
  overflow: hidden;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.hk_three_btn a {
  float: left;
  width: 30%;
  width: 28%\9;
  background: #46bba8;
  color: #fff;
  font-size: 1.3em;
  overflow: hidden;
  margin-right: 5%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.hk_three_btn a:hover {
  background: #13a78f;
}
.hk_three_btn a:nth-child(3) {
  margin-right: 0;
}
.hk_three_btn img {
  display: block;
  float: left;
  margin: 10px 10px 10px 50px;
}
.hk_three_btn span {
  display: block;
  margin-top: 20px;
}
.hk_bottom {
  background: #46bba8;
}
.hk_bottom .hk_row {
  background: #fff;
}
.hk_btns_outer {
  margin: 30px;
  margin-top: 0;
  width: 94%;
  float: none;
}
.hk_btns {
  overflow: hidden;
}
.hk_btns li {
  float: left;
  width: 18.4%;
  width: 18%\9;
  margin-right: 2%;
  margin-top: 20px;
}
.hk_btns li:nth-child(5n) {
  margin-right: 0;
}
.hk_btns li a {
  background: #6a6a6a;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.hk_btns li a:hover {
  background: #46bba8;
}
.hk_btns_checked {
  background: #46bba8!important;
}
.hk_recommend_tittle {
  position: relative;
}
.hk_recommend_line {
  border-bottom: 1px solid #fff;
  margin-top: 40px;
}
.hk_recommend_word {
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  color: #fff;
  text-align: center;
}
.hk_recommend_word span {
  display: inline-block;
  background: #46bba8;
  width: 100px;
  font-size: 1.3em;
}
.hk_recommend ul {
  margin-top: 30px;
  overflow: hidden;
  padding-bottom: 20px;
}
.hk_recommend ul li {
  float: left;
  text-align: center;
  width: 20%;
  margin-bottom: 20px;
}
.hk_recommend ul li a {
  color: #fff;
}
.footer {
  background: #fff;
  border-top: 0;
  width: 100%;
  padding: 1% 0 0 0;
  margin-top: 0px;
  font-size: 0.9em;
}
.footer_intro_img {
  width: 8%;
}
.footer_intro span {
  margin-left: 20px;
}
.inpage_content {
  background: #fff;
  padding-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .top_bg {
    top: 100px;
  }
  .hk_header_logo {
    width: 15%;
    margin: 10px 0;
  }
  .hk_header_logo img {
    width: 100%;
  }
  .hk_header_word {
    font-size: 1.7em;
    margin-top: 25px;
    margin-left: 20px;
  }
  .hk_nav ul {
    width: 100%;
    float: none;
  }
  .hk_nav ul li {
    width: 33.33333333%;
  }
  .hk_search,
  .hk_header_img {
    display: none;
  }
  .pic_news_tittle {
    padding: 0!important;
    font-size: 0.9em;
  }
  .arrow-left,
  .arrow-right {
    opacity: 0;
  }
  .pagination {
    bottom: 5px!important;
  }
  .hk_block {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .hk_block_2 ul {
    float: none;
    width: 100%;
  }
  .hk_block_img {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .hk_three_btn {
    margin-top: 0;
    padding: 0;
  }
  .hk_three_btn a {
    width: 100%;
    margin-bottom: 20px;
  }
  .hk_btns li {
    float: none;
    width: 80%;
  }
  .white_bg {
    padding: 15px;
  }
  .hk_btns_outer li {
    float: none;
  }
  .hk_recommend ul li {
    float: none;
    width: 100%;
  }
  .footer {
    padding: 5%;
    background: #fff;
  }
  .footer_intro_img {
    width: 40%;
  }
}
