@media screen and (max-width: 1920px) {
  .row {
    overflow: hidden;
    margin-top: 1%;
  }
  .content_1 {
    background: url(../image/bg_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    min-height: 100vh;
    position: relative;
  }
  .first_img {
    width: 100px;
    margin: 0 auto;
    padding-top: 15%;
  }
  .first_img img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .content_2 {
    background: url(../image/bg_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    min-height: 100vh;
    position: relative;
    padding: 5% 0;
  }
  .two_block .content {
    overflow: hidden;
  }
  .newsAndOpen {
    float: left;
    width: 70%;
    margin-right: 1%;
  }
  .news {
    overflow: hidden;
  }
  .news_wrap {
    width: 46%;
    float: left;
    position: relative;
  }
  .news_wrap img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .news_wrap_bottom {
    position: absolute;
    width: 98%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 3% 1%;
    overflow: hidden;
    z-index: 5;
  }
  .news_wrap_intro {
    color: #fff;
    font-size: 0.85em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
    float: left;
  }
  .news_word {
    width: 54%;
    float: right;
    background: #2f2f2f;
    padding: 3% 0;
  }
  .news_word li {
    margin: 0 3% 1.18% 3%;
    height: 30px;
    line-height: 30px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .news_word li:hover {
    background: #00ada7;
  }
  .news_word li a {
    color: #fff;
    font-size: 0.9em;
    overflow: hidden;
  }
  .news_word li:last-child {
    margin-bottom: 0;
  }
  .news_name {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
  }
  .news_time {
    float: right;
  }
  .open {
    background: #fff;
  }
  .open ul {
    overflow: hidden;
  }
  .open_btn {
    float: left;
    width: 20%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .open_btn a {
    color: #2f2f2f;
    overflow: hidden;
    padding: 18% 0;
  }
  .open_btn a img {
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  .open_btn:hover {
    background: #65ffdd;
  }
  .open_btn_checked {
    background: #65ffdd;
  }
  .open_btn_word {
    font-size: 1em;
    margin-top: 3px;
  }
  .video {
    float: right;
    width: 28.5%;
  }
  .video_top {
    position: relative;
  }
  .video_top > img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .video_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .video_btn:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .video_btn img {
    margin-top: 30%;
  }
  .video_bottom {
    background: #fff;
    text-align: center;
    color: #2f2f2f;
  }
  .video_bottom_body {
    padding: 9% 0;
  }
  .video_chi {
    font-size: 1.3em;
  }
  .three_block {
    height: 130px;
  }
  .three_block .content {
    background: #fff;
    overflow: hidden;
    height: 100%;
  }
  .three_block_tittle {
    background: #2f2f2f;
    color: #fff;
    float: left;
    text-align: center;
    width: 8%;
    height: 100%;
    padding: 2.5% 0;
    font-size: 1.1em;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .three_block_tittle:hover {
    background: #65ffdd;
    color: #2f2f2f;
  }
  .communi {
    float: left;
    overflow: hidden;
    width: 84%;
    height: 100%;
  }
  .communi ul {
    float: left;
    width: 90%;
    height: 100%;
  }
  .communi .three_block_tittle {
    width: 10%;
    padding: 3% 0;
  }
  .communi_btn {
    float: left;
    overflow: hidden;
    width: 25%;
    height: 100%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .communi_btn:hover {
    background: #cbfff4;
  }
  .communi_btn img {
    width: 35%;
    margin: 0 auto;
    vertical-align: bottom;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
  }
  .communi_btn a {
    height: 100%;
  }
  .communi_word {
    float: left;
    width: 50%;
    color: #2f2f2f;
    text-align: center;
    margin-top: 18%;
  }
  .communi_chi {
    font-size: 1.4em;
  }
  .three_block_checked {
    background: #65ffdd;
    color: #2f2f2f;
  }
  .btn_group .content {
    background: #fff;
  }
  .btn_group ul {
    overflow: hidden;
  }
  .btn_group ul li {
    width: 16.58333333%;
    float: left;
    text-align: center;
    padding: 1.5% 0;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .btn_group ul li:hover {
    background: #e9e9e9;
  }
  .btn_group ul li img {
    width: 28%;
  }
  .btn_group_chi {
    color: #626262;
    font-size: 1.3em;
    margin: 5px;
  }
  .btn_group_eng {
    color: #959595;
    font-size: 0.9em;
  }
  .activity img {
    width: 100%;
  }
  .content_3 {
    background: url(../image/bg_3.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    min-height: 100vh;
    position: relative;
    padding: 5% 0 0 0;
  }
  .spot .content {
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
  }
  .spot_img {
    float: left;
    width: 30%;
    margin: 1%;
  }
  .spot_img a {
    overflow: hidden;
    display: none;
  }
  .spot_img a img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
  }
  .spot_img a img:hover {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
  }
  .spot_word {
    float: right;
    width: 66%;
    padding: 1% 1% 1% 0;
  }
  .spot_tittle {
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .spot_tittle_line {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    margin-top: 20px;
  }
  .spot_tittle_word {
    color: #2f2f2f;
    text-align: center;
    background: #fff;
    margin-left: 40%;
    font-size: 1.5em;
    width: 20%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 5;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .spot_tittle_word:hover {
    color: #00ada7;
  }
  .spot_btns {
    margin-top: 4%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .spot_btns ul {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .spot_btns ul li {
    float: left;
    width: 16.66666667%;
    margin-right: 4%;
    margin-bottom: 3%;
  }
  .spot_btns ul li:nth-child(5n) {
    margin-right: 0;
  }
  .spot_btn {
    background: #00ada7;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .spot_btn:hover {
    background: #2f2f2f;
  }
  .spot_btn_line {
    width: 98%;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 0 2% 0;
    padding: 2% 0;
  }
  .photo .content {
    background: #fff;
    padding-bottom: 1%;
  }
  .photo .content ul {
    overflow: hidden;
    margin: 0 1%;
  }
  .photo .content ul li {
    float: left;
    width: 24.09638554%;
    margin-right: 1%;
  }
  .photo .content ul li a {
    overflow: hidden;
  }
  .photo .content ul li a img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
  }
  .photo .content ul li a img:hover {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
  }
  .photo .content ul li:nth-child(4) {
    margin-right: 0;
  }
  .photo_tittle {
    text-align: center;
    font-size: 1.5em;
    padding: 3%;
    color: #2f2f2f;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .photo_tittle:hover {
    color: #00ada7;
  }
  .three_items {
    background: #fff;
    width: 32.66666667%;
    float: left;
    margin-right: 1%;
  }
  .three_items:nth-child(3) {
    margin-right: 0;
  }
  .three_items_img {
    width: 100%;
    overflow: hidden;
  }
  .three_items_img img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
  }
  .three_items_img img:hover {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
  }
  .three_items_content {
    padding: 4%;
  }
  .three_items_content ul {
    overflow: hidden;
  }
  .three_items_content ul li {
    width: 50%;
    margin-bottom: 3%;
  }
  .three_items_content ul li a {
    color: #2f2f2f;
    font-size: 0.9em;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .three_items_content ul li a:hover {
    color: #00ada7;
  }
  .three_items_content ul li:nth-child(2n+1) {
    float: left;
  }
  .three_items_content ul li:nth-child(2n) {
    float: right;
  }
  .three_items_content ul li:nth-child(2n) a {
    text-align: right;
  }
  .three_items_tittle {
    color: #2f2f2f;
    font-size: 1.2em;
    margin-bottom: 2%;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .three_items_tittle:hover {
    color: #00ada7;
  }
  .three_items_btn {
    background: #00ada7;
    color: #fff;
    text-align: center;
    height: 35px;
    line-height: 35px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .three_items_btn:hover {
    background: #2f2f2f;
  }
  .tour_tittle {
    background: #fff;
    color: #2f2f2f;
    font-size: 1.5em;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-top: 3px solid #00ada7;
  }
  .tour_tittle_triangle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed dashed solid dashed;
    border-color: #fff transparent transparent transparent;
    margin-left: 49%;
  }
  .tour_content {
    overflow: hidden;
  }
  .tour_content > li {
    background: #fff;
    width: 32.4%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    border-right: 3px solid #00ada7;
    position: relative;
  }
  .tour_content > li:nth-child(3n) {
    margin-right: 0;
  }
  .tour_block_tittle {
    margin: 3%;
    float: left;
    width: 55%;
    position: relative;
  }
  .tour_block_tittle img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .tour_block_word {
    position: absolute;
    width: 100%;
    height: 69%;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.7em;
    padding-top: 20%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .tour_block_word:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .tour_block_word span {
    font-size: 0.7em;
  }
  .tour_content_btns {
    margin: 3% 3% 3% 0;
  }
  .tour_content_btns li {
    margin-bottom: 2%;
  }
  .tour_content_btns a {
    color: #2f2f2f;
    font-size: 0.9em;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .tour_content_btns a:hover {
    color: #00ada7;
  }
  .swiper-slide {
    height: auto !important;
  }
  .swiper-wrapper {
    height: auto !important;
  }
  .swiper-container {
    position: relative;
  }
  .pagination {
    position: absolute;
    z-index: 20;
    left: 46%;
    bottom: 10px;
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    margin-right: 5px;
    cursor: pointer;
  }
  .swiper-visible-switch {
    background: #aaa;
  }
  .swiper-active-switch {
    background: #00ada7;
  }
  .arrow-left {
    position: absolute;
    left: 10px;
    top: 45%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    font-size: 3em;
    color: rgba(34, 34, 34, 0.5);
  }
  .arrow-right {
    position: absolute;
    right: 10px;
    top: 45%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    font-size: 3em;
    color: rgba(34, 34, 34, 0.5);
  }
  .news .pagination {
    z-index: 6;
    left: 65%;
  }
  .activity .swiper-pagination-switch {
    background: rgba(0, 0, 0, 0.5);
  }
  .activity .swiper-active-switch {
    background: #00ada7;
  }
}
@media screen and (max-width: 414px) {
  .row {
    margin-top: 2%;
  }
  .first_img {
    width: 20%;
    margin: 0 auto;
    padding-top: 28%;
  }
  .first_img img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .newsAndOpen {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .news {
    overflow: hidden;
  }
  .news_wrap {
    width: 100%;
    float: none;
  }
  .news_word {
    width: 100%;
    float: none;
    padding: 3% 0;
  }
  .open {
    background: #fff;
  }
  .open ul {
    overflow: hidden;
  }
  .open_btn {
    float: left;
    width: 50%;
  }
  .open_btn a {
    padding: 5% 0;
  }
  .video {
    float: none;
    width: 100%;
    margin-top: 2%;
  }
  .video_top {
    position: relative;
  }
  .video_top > img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .video_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .video_btn:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .video_btn img {
    margin-top: 30%;
  }
  .video_bottom {
    background: #fff;
    text-align: center;
    color: #2f2f2f;
  }
  .video_bottom_body {
    padding: 9% 0;
  }
  .video_chi {
    font-size: 1.3em;
  }
  .three_block.row {
    overflow: visible;
    height: 100px;
  }
  .three_block .content {
    overflow: visible;
  }
  .communi {
    width: 100%;
  }
  .communi_btn img {
    width: 50%;
    margin: 0 auto;
    vertical-align: bottom;
    float: none;
    margin: 10% auto;
    display: block;
  }
  .communi_word {
    float: none;
    width: 100%;
    margin-top: 15%;
  }
  .communi_chi {
    font-size: 0.9em;
  }
  .business.three_block_tittle,
  .organization.three_block_tittle {
    width: 50%;
    height: auto;
    margin-bottom: 2%;
  }
  .btn_group ul {
    overflow: hidden;
  }
  .btn_group ul li {
    width: 33.1%;
    float: left;
  }
  .btn_group ul li:nth-child(3n) {
    border-right: none;
  }
  .btn_group ul li img {
    width: 28%;
  }
  .activity .content {
    width: 98%;
  }
  .activity img {
    width: 100%;
  }
  .activity .pagination {
    position: absolute;
    z-index: 20;
    left: 46%;
    bottom: 5px;
  }
  .activity .arrow-left,
  .activity .arrow-right {
    top: 25%;
  }
  .spot .content {
    padding-bottom: 18%;
  }
  .spot_img {
    float: none;
    width: 96%;
    margin: 10px auto;
  }
  .spot_word {
    float: none;
    width: 96%;
    margin: 0 auto;
  }
  .spot_tittle_word {
    margin-left: 25%;
    width: 50%;
  }
  .spot_btns {
    margin-top: 8%;
  }
  .spot_btn_line {
    width: 98%;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 0 2% 0;
    padding: 2% 0;
  }
  .spot_btn_line:nth-child(2) {
    padding: 5% 0;
    margin-bottom: 10%;
  }
  .photo .content {
    background: #fff;
    padding-bottom: 0.8%;
  }
  .photo .content ul {
    overflow: hidden;
    margin: 0 0 0 1%;
  }
  .photo .content ul li {
    width: 49%;
  }
  .photo .content ul li a img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-bottom: 2%;
  }
  .photo .content ul li:nth-child(2n) {
    margin-right: 0;
  }
  .three_items {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
  .tour_tittle {
    background: #fff;
    color: #2f2f2f;
    font-size: 1.5em;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-top: 3px solid #00ada7;
  }
  .tour_tittle_triangle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed dashed solid dashed;
    border-color: #fff transparent transparent transparent;
    margin-left: 49%;
  }
  .tour_content > li {
    width: 99%;
  }
}
