html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-family: "黑体";
}
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  display: block;
}
img {
  border: 0;
}
.whole {
  width: 100%;
}
@media screen and (max-width: 1920px) {
  body {
    font-size: 16px;
  }
  .content {
    width: 1200px;
    margin: 0 auto;
  }
  .header_body_margin {
    margin: 20px 0 30px 0;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  }
  .header .content {
    overflow: hidden;
  }
  .header_left {
    float: left;
    width: 8%;
    margin: 20px 0 30px 0;
  }
  .header_logo {
    width: 100%;
  }
  .header_logo img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .header_named {
    margin-top: 15px;
    border: 1px solid #c6021a;
    text-align: center;
    font-size: 0.9em;
  }
  .header_named_top {
    background: #c6021a;
    color: #fff;
    padding: 3px 0;
  }
  .header_named_bottom {
    padding: 3px 0;
  }
  .header_right {
    float: right;
    width: 90%;
    margin: 20px 0 30px 0;
  }
  .header_right_top {
    overflow: hidden;
    padding: 16px 0;
    border-bottom: 2px solid #000;
  }
  .header_name {
    float: left;
    width: 70%;
  }
  .header_name_chi {
    color: #c6021a;
    font-size: 2.5em;
    font-weight: bold;
  }
  .header_name_address {
    font-size: 1.2em;
    text-indent: 3px;
    color: #686869;
  }
  .header_search {
    float: right;
    width: 30%;
    text-align: right;
    position: relative;
    margin-top: 30px;
  }
  .header_search input {
    width: 90%;
    padding: 10px 10px;
    border: 0;
    background: #e7e7e7;
    outline: none;
  }
  .header_search img {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
  }
  .header_right_bottom {
    padding-top: 20px;
  }
  .nav {
    overflow: hidden;
  }
  .nav li {
    float: left;
    width: 14.28571429%;
    text-align: center;
    list-style: none;
  }
  .nav li a {
    width: 100%;
    color: #686869;
    font-size: 1.2em;
    padding: 5px 0;
    transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
  }
  .nav li a:hover {
    background: #c6021a;
    color: #fff;
  }
  .nav_show {
    background: #c6021a;
    color: #fff!important;
  }
  .header_fixed1 {
    position: fixed;
    top: 0;
    height: 60px;
  }
  .header_fixed1 .header_left {
    margin-top: 0.7%;
  }
  .header_fixed1 .header_logo {
    width: 40px;
  }
  .header_fixed1 .header_word {
    float: left;
  }
  .header_fixed1 .header_address,
  .header_fixed1 .header_intro {
    display: none;
  }
  .header_fixed1 .header_name {
    margin-top: 10px;
  }
  .header_fixed1 .nav li a {
    height: 60px;
    line-height: 60px;
    font-size: 1em;
  }
  .mobile_menu_btn {
    display: none;
  }
  .footer {
    background: #fff;
    border-top: 10px solid #c6021a;
    width: 100%;
    padding: 2% 0;
    margin-top: 100px;
    font-size: 0.9em;
  }
  .footer li {
    list-style: none;
  }
  .footer_relevant {
    margin-bottom: 2%;
    padding: 30px 0;
    border-top: 1px solid #353536;
    border-bottom: 1px solid #353536;
  }
  .footer_relevant_content {
    overflow: hidden;
    border: 1px solid #dbdbdc;
    padding: 20px 30px;
    margin-top: 30px;
  }
  .footer_relevant_content li {
    float: left;
    width: 16.66666667%;
  }
  .footer_relevant_content li a {
    color: #353536;
    height: 40px;
    line-height: 40px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .footer_relevant_content li a:hover {
    color: #c6021a;
  }
  .footer_tittle {
    margin-bottom: 2%;
    float: left;
    color: #c6021a;
    margin-right: 20px;
  }
  .footer_relevant_tab span {
    margin-right: 10px;
    cursor: pointer;
  }
  .footer_intro_img {
    float: left;
    width: 10%;
  }
  .inpage_top {
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  .inpage_content {
    /*padding-bottom:300px;*/
  }
}
@media screen and (max-width: 1360px) {
  .header_left {
    margin-top: 3.5%;
  }
}
@media screen and (max-width: 414px) {
  html {
    overflow-x: hidden;
  }
  body {
    font-size: 14px;
  }
  .content {
    width: 96%;
    margin: 0 auto;
  }
  .header {
    overflow: visible;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
  }
  .header .content {
    overflow: visible;
  }
  .header_left {
    float: none;
    width: 100%;
    margin-top: 0;
  }
  .header_logo {
    width: 40px;
  }
  .header_logo img {
    margin-bottom: 10px;
  }
  .header_word {
    float: left;
    width: 60%;
  }
  .header_address {
    display: none;
  }
  .header_intro {
    display: none;
  }
  .nav {
    float: none;
    width: 100%;
    overflow: visible;
    background: rgba(0, 0, 0, 0.9);
    margin-top: 5px;
    display: none;
  }
  .nav li {
    float: none;
    width: 100%;
  }
  .nav li a {
    font-size: 1em;
    height: 40px;
    line-height: 40px;
  }
  .header_fixed .header_name {
    margin-top: 0;
  }
  .header_fixed .nav li a {
    height: 40px;
    line-height: 40px;
  }
  .mobile_menu_btn {
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    color: #65ffdd;
    width: 13%;
    display: block;
  }
  .footer {
    padding: 4% 0;
  }
  .footer_relevant ul li {
    width: 50%;
  }
  .footer_relevant ul li:nth-child(2n+1) {
    text-align: left;
  }
  .footer_relevant ul li:nth-child(2n) {
    text-align: right;
  }
  .footer_intro {
    font-size: 0.85em;
    line-height: 20px;
  }
  .inpage_top {
    height: 300px;
    overflow: hidden;
    position: relative;
  }
}
