@media screen and (max-width: 1920px) {
  body {
    position: relative;
  }
  li {
    list-style: initial;
  }
  .body_bg {
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .body_bg img {
    width: 100%;
  }
  .main {
    margin-top: 210px;
    z-index: 9;
    width: 100%;
  }
  .main_body {
    padding: 15px 0;
  }
  .main_body .content {
    overflow: hidden;
  }
  .block {
    background: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .block:nth-child(1) {
    width: 49.5%;
  }
  .block:nth-child(2) {
    width: 49.5%;
    margin-right: 0;
    float: right;
  }
  .block_left {
    width: 30%;
  }
  .block_left .block {
    width: 100%;
  }
  .block_middle {
    width: 38%;
    float: left;
  }
  .block_middle .block {
    width: 100%;
  }
  .block_right {
    width: 30.3%;
    float: right;
  }
  .block_right .block {
    width: 100%;
  }
  .block_body {
    margin: 35px;
  }
  .block_tittle {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: bold;
    color: #353536;
  }
  .block_ul {
    padding-top: 2px;
  }
  .block_ul li {
    margin-left: 20px;
    line-height: 35px;
  }
  .block_ul li a {
    color: #353536;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .block_ul li a:hover {
    color: #c6021a;
  }
  .news .swiper-slide img {
    width: 100%;
    height: 240px;
  }
  .news .pagination {
    text-align: center;
  }
  .news .swiper-pagination-switch {
    width: 30px;
    height: 4px;
    background: #dbdbdc;
  }
  .news .swiper-active-switch {
    background: #c6021a;
  }
  .news .arrow-left {
    top: 48%;
  }
  .news .arrow-right {
    top: 48%;
    right: 25px;
  }
  .news_body {
    min-height: 325px;
  }
  .news_tittle {
    font-size: 1.2em;
    line-height: 25px;
    margin-bottom: 20px;
    color: #000;
    height: 50px;
    overflow: hidden;
  }
  .word_news {
    height: 330px;
    overflow: hidden;
  }
  .word_news .block_tittle {
    color: #c6021a;
  }
  .work ul {
    height: 210px;
    overflow: hidden;
  }
  .work img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-top: 20px;
  }
  .activity .block_tittle {
    margin-bottom: 30px;
  }
  .activity .pagination {
    position: absolute;
    bottom: 5px;
    left: 42%;
  }
  .activity_body img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  .two_btn {
    overflow: hidden;
  }
  .two_btn a {
    background: #c6021a;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 46%;
    text-align: center;
    color: #fff;
    padding: 25px 0;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
  }
  .two_btn a:hover {
    background: #940012;
  }
  .two_btn a:nth-child(1) {
    float: left;
  }
  .two_btn a:nth-child(2) {
    float: right;
  }
  .assets ul {
    height: 250px;
    overflow: hidden;
  }
  .assets img {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-top: 20px;
  }
  .dynamic ul {
    height: 210px;
    overflow: hidden;
  }
  .policy {
    background: #ecedf2;
  }
  .policy ul {
    height: 215px;
    overflow: hidden;
  }
  .open .block_tittle {
    margin-bottom: 25px;
  }
  .open_btn {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .open_icon {
    background: #c6021a;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    float: left;
    margin-right: 10px;
  }
  .open_word {
    line-height: 50px;
    color: #353536;
    font-size: 1.1em;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
  }
  .open_word:hover {
    color: #c6021a;
  }
  .swiper-slide {
    height: auto !important;
  }
  .swiper-wrapper {
    height: auto !important;
  }
  .swiper-container {
    position: relative;
  }
  .pagination {
    /*position: absolute;
        z-index: 20;
        left: 46%;
        bottom: 10px;*/
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #dbdbdc;
    margin-right: 5px;
    cursor: pointer;
  }
  .swiper-visible-switch {
    background: #dbdbdc;
  }
  .swiper-active-switch {
    background: #c6021a;
  }
  .arrow-left {
    position: absolute;
    left: 0px;
    top: 45%;
    width: 17px;
    height: 30px;
    font-size: 3em;
    color: rgba(34, 34, 34, 0.5);
  }
  .arrow-right {
    position: absolute;
    right: 0px;
    top: 45%;
    width: 17px;
    height: 30px;
    font-size: 3em;
    color: rgba(34, 34, 34, 0.5);
  }
}
@media screen and (max-width: 414px) {
  .activity .content {
    width: 98%;
  }
  .activity img {
    width: 100%;
  }
  .activity .pagination {
    position: absolute;
    z-index: 20;
    left: 46%;
    bottom: 5px;
  }
  .activity .arrow-left,
  .activity .arrow-right {
    top: 25%;
  }
}
